
.messageboard{	
	color: #000000;
}

.messageboard p{
	color: #000000;	
	background-color: #eeeeee;
	padding: 30px;
	margin-bottom: 15px;
	font-weight: bold;
}

.profile_picture_large{
	margin-bottom: 15px;
}

.emptySpace{
	margin-top: 30px;
	margin-bottom: 30px;
}