<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BFriend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <style type="text/css">
      body {
        padding-top: 30px;
      }
    </style>
    <link href="fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <link href="style/index.css" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="fancybox/source/jquery.fancybox.js"></script>
    <script src="javascript/main.js" type="text/javascript"></script>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">BFriend</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li id = "signin"><a id="sign1" href="#signIn">Sign In</a></li>
              <li id = "signup"><a id="sign2" href="#signUp">Sign Up</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="main">
          <div class="hero-unit">
            <h1>BFriend</h1>
            <br /><br />
            <p id="buttonArea">Button</p>
            <a href= "#" id="sport_rec">Sport</a>
            <button id="clear_interest_buttons"></button>
            <p>BFriend is a website that helps people connect with people they don't know but have highest similarity. It help you find the friends outside of your social network.</p>
          </div>
         </div>
    </div><!--/.fluid-container-->
    <div style="display:none"><div id="signIn">
    	<form method="post" id="signIn_form">
        	 <label for="email">Email: </label>
             <input id="email" name = "email" type="email" required />
             <label for="password">Password: </label>
             <input id = "password" name = "password" type = "password" required /><br />
             <a class="btn btn-success" href="#">Submit &raquo;</a>
        </form>
    </div></div>
	<div style="display:none">
    	<div id="signUp">
    		<form method="post" id = "signUp_form">
    	    	<label for="last_name">Last Name: </label>
    	        <input id="last_name" type="text" name = "last_name" max = "20" placeholder="this is a required field" required />
    	        <label for="first_name">First Name: </label>
    	        <input id="first_name" type="text" name = "first_name" placeholder="this is a required field" max = "20" required />
    	        <br />
    	        <label for="email">Email: </label>
    	        <input id="foo" name = "email" type="email" max = "100" placeholder="this is a required field" required />
    	        <label for="password2">Password: </label>
    	        <input id="password2" name = "password2" type="password" max = "30" placeholder="this is a required field" required />
    	        <label for ="gender">Gender: </label>
    	        <div class="btn-group">
    	        	<button id ="male" class="btn" name="Gender" value="male">Male</button>
  					<button id = "female" class="btn" name="Gender" value="female">Female</button>
				</div>
       		     <br />
        	    <label for="birthdate">Birthdate : </label>
        	    <input type="date" name = "birthdate" id = "birthdate" placeholder="this is a required field" max = "15" />
        		<label for="about">About me</label>
        	    <textarea rows="10" cols="3" id = "about" name="about"></textarea>
                <br />
                <a  id = "Continue"class="btn btn-success" href="#">Continue &raquo;</a>
        	</form>
    	</div>
    </div>
  </body>
</html>


